extends templates/page-template.pug

prepend html-title

    - var var_title = "Archive"
    - var var_color = "yellow"

    = var_title + " -"

append main-content

    .container-md.clearfix

        img.float-sm-start.mb-3.me-sm-4.mw-75.mw-md-45.max-vh-75.mw-sm-45.max-vh-lg-100(
            src='assets/img/archive.png', alt=''
        )
        
        p.text-sm-center.pt-md-5.pt-3
            a.text-decoration-none.text-reset(
                href='archive/'
            ) http://elisavetkalpaxi.co.uk/archive

        :markdown-it
        
            This is the website that I used until 2014 and presents work and links to projects that were completed up to that point. The website was designed back in 2005 when (Macromedia) Flash was still cutting edge in creating interactive material and animations. The website required the use of elaborate techniques to create slideshows, fiddly operations in chaotic timelines to be updated, and unfortunately it is no longer functional as most platforms, including tablets and mobile phones, have stoped supporting Flash. However, with the potential that Flash may return in the future, I decided to keep it as an archive that offers access to my earlier work and this website's subconscious technological past that has now become obsolete. Flash content can now be accessed with the use of Flash emulators.

