extends templates/frontpage-template.pug

block main-content

    .row.align-items-end.min-vh-100.g-0

        each value, index in pages
            .col-12
                a.strike(
                    href=links[index] style='color: var(--bs-'+colors[index]+')' 
                    data-title=value
                ) 
                    span 
                        = value

        .col-12.text-center.mb-5 &copy; Elisavet Kalpaxi 2023
