//- Frontpage template
doctype html
html(lang='en')

    include ../partials/header.pug

    block html-body

        body#page-top

            block main-content

            include ../partials/footer.pug
