extends templates/page-template.pug

prepend html-title

    - var var_title = "Contact"
    - var var_color = "green"

    = var_title + ' - '

block main-content

    .container-md
        .row.gx-5.align-items-center.text-center
            .col-lg-6.col-md-6
                img.img-fluid(src='assets/img/Handssmall.jpg' alt='')
                p.small.fw-bold
                    i Hands
                    | 2015, silver print, 20x20cm.

            .col-lg-6.col-md-6
                p.h4.fw-bold elisavet.kalpaxi@bucks.ac.uk
