
head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keywords' content='Elisavet Kalpaxi, Elisavet, Elsa, Elsa Kalpaxi, Kalpaxi, photography, art, self-portait, goldsmiths, university of london, university, london, uk, photos, portfolio, black, white, b/w, fine art, portrait, ww gallery, lightpainting, instalation, contemporary art, practice, self-representation, self-image, image, icon, eikona, icona, windmill residency, art photography, Northampton, research, chisenhale, technh, exhibition, gallery, woven')
    meta(name='keywords' content='Elisavet Kalpaxi, photography, self-portraits, Goldsmiths, Art, narcissism, self-portraiture, Elsa Kalpaxi, Greece, photogram, narrativity')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='-1')

    // Favicon
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    //- Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')

    block head-content

    //- Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')

    title
        block html-title
        .
            Elisavet Kalpaxi

block html-body

    - var pages = ['Current Work','Archive','About','Contact']
    - var links = ['currentwork.html','archivelink.html','about.html','contact.html']
    - var colors = ['red','yellow','green','blue']

