//
// NAV
//

#nav.text-uppercase.fw-bold

    ul.list-group.flex-md-column.flex-row.list-group-flush.border-end-md-2
    
        each value, index in pages

            li.list-group-item.px-2.px-md-4
                a.text-decoration-none(href=links[index] title=value) 
                    = value