// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    text-align:justify;
}


// Custom utilities for this theme
ul {
    list-style-position: inside;
    padding-left: 0;
}

ul li {
    margin-bottom: 1rem;
}

// strikethrough text
.strike {
    position: relative;
    word-spacing: 0.2rem;
    letter-spacing: 0.5rem;
    user-select: none;
}

.strike::before {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(50% + 0.1rem);
    border-bottom: 0.25rem solid currentColor;
    width: 100%;
    background-color: var(--bs-body-bg);
    pointer-events: none; 
  }

.strike:after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: -0.1rem;
    width: 100%;
    height: 50%;
    color: inherit;
    overflow: hidden;
    padding-left: 9px;
    pointer-events: none; 
}

a.strike span {
    opacity: 0;
}

a.strike:before {
    opacity: 1;
}

a.strike:after {
    opacity: 0;
}

a.strike:hover span {
    opacity: 1;
}

a.strike:hover:before {
    opacity: 1;
}

a.strike:hover:after {
    opacity: 1;
}