@charset "UTF-8";
/* CSS Document */

.responsive2 {visibility:hidden}


/*CurrentWork*/
#content {text-align:left; margin-left:220px}
#currentworktext {float:left; width:auto; margin-right:80px; margin-top:20px;}

/*Contact*/

#contactcontent {float:left; width:600px; text-align:center; }
#contacttext {float:left; width:600px;font-size:20px; font-family:Arial, Helvetica, sans-serif; text-align:center; margin-top:0px; padding-left:100px}

/*Archive*/
#archivecontent {float:left; margin:0; width:40%; padding-bottom:0; text-align:center;}
#archivetext {float:left; width:auto; margin-right:30px; margin-left:30px; text-align:justify}

/*About*/
#aboutleft {float:none; margin-right:30px; width:600px;text-align:justify}
#aboutright {float:none; margin-right:30px;width:600px; padding-left:0; text-align:justify}
#content1 {text-align:left; margin-left:220px}


