@charset "UTF-8";
/* CSS Document */

.responsive2 {visibility:hidden}

#wrapper1{height:100vh}

/*Menu*/
#menu {float:none; text-align:center; width:auto; vertical-align:top; border-right:none; border-bottom:#000 solid thin; padding:10px; padding-bottom:none; margin-left:50px; margin-right:50px; margin-bottom:20px}
#menu ul li{display:inline; font-weight:bold; color:#000; font-size:16px; padding:10px}


/*CurrentWork*/
#content {text-align:center; margin-left:0px}

#currentwork1 {}
#currentworkleftcol {float:none; margin:10%;   width:80%}
#currentworkrightcol {float:none; margin:10%; width:80%}
#currentworktext {float:none;}


/*Contact*/

#contactcontent {float:none; width:auto; text-align:center; }
#contacttext {float:none; width:auto;font-size:20px; font-family:Arial, Helvetica, sans-serif; text-align:center; margin-top:0px; margin-left:0px;}

/*Archive*/
#archivecontent {float:none; margin:0; width:80%; margin:10%; text-align:center;}
#archivetext {float:none; width:80%; margin:10%; text-align:justify}

/*About*/
#aboutleft {float:none; margin-right:10px; margin-left:10px; width:auto; text-align:justify}
#aboutright {float:none; margin-right:10px; margin-left:10px; width:auto; padding-left:0px; padding-right:0px; text-align:justify}
#content1 {text-align:center; margin-left:0; margin-right:0}

/*Pop-ups*/
#popUpDiv1 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv2 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv3 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv4 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv5 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv6 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv7 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv8 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv9 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}
#popUpDiv10 a {position:relative; top:1px; left:235px; color:#000; text-decoration:none; font-size:22px; font-weight:900}


/*Home page*/
#index1 {background-image:url(images/2b.gif);
background-repeat:no-repeat; background-size:contain;
background-position:center; text-align:center; height:23%;}
#index2 {background-image:url(images/3b.gif);
background-repeat:no-repeat; background-size:contain;
background-position:center; text-align:center;height:23%;}
#index3 {background-image:url(images/1b.gif);
background-repeat:no-repeat; background-size:contain;
background-position:center; text-align:center;height:23%;}
#index4 {background-image:url(images/4b.gif);
background-repeat:no-repeat; background-size:contain;
background-position:center; text-align:center;height:23%;}

div.backgroundlink1 {
    position: relative;
}
div.backgroundlink1 a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF; 
    opacity: 0; 
    filter: alpha(opacity=1);
}
