doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        
        meta(name='author', content='')
        meta(name='keywords' content='Elisavet Kalpaxi, Elisavet, Elsa, Elsa Kalpaxi, Kalpaxi, photography, art, self-portait, goldsmiths, university of london, university, london, uk, photos, portfolio, black, white, b/w, fine art, portrait, ww gallery, lightpainting, instalation, contemporary art, practice, self-representation, self-image, image, icon, eikona, icona, windmill residency, art photography, Northampton, research, chisenhale, technh, exhibition, gallery, woven')
        meta(name='keywords' content='Elisavet Kalpaxi, photography, self-portraits, Goldsmiths, Art, narcissism, self-portraiture, Elsa Kalpaxi, Greece, photogram, narrativity')
        meta(http-equiv='Pragma' content='no-cache')
        meta(http-equiv='Expires' content='-1')
        title About - Elisavet Kalpaxi

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        //- link(rel='preload' href='assets/font/JustMyType.woff2' as='font' type="font/woff2" crossorigin="anonymous")
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Masthead
        header
            .container-fluid.py-5.px-0.mb-5
                .col.text-center.text-uppercase
                    h1.font-monospace.strike(style='color:var(--bs-green)' title="About") About

       
        // Main
        .container-md
            .row.g-4.gx-lg-5
                // Nav
                #nav.col-lg-2.col-md-12.col.text-uppercase.fw-bold

                   ul.list-group.flex-lg-column.flex-row.list-group-flush.border-dark.border-end.border-2
                        li.list-group-item
                            a.text-decoration-none(href='/' title='') Home
                        li.list-group-item
                            a.text-decoration-none(href='currentwork.html' title='') Current Work
                        li.list-group-item
                            a.text-decoration-none(href='archivelink.html' title='') Archive
                        li.list-group-item.active
                            a.text-decoration-none.text-reset(href='about.html' title='') About
                        li.list-group-item
                            a.text-decoration-none(href='contact.html' title='') Contact

                .col-lg-10.col-sm-12
                    // About
                    section#about.container-md
                            .row.gx-5
                                .col-lg-6.col-md-6
                                    p Elisavet Kalpaxi is an artist, researcher and lecturer, currently working as a Senior Lecturer in Critical and Historical  Studies at Buckinghamshire New University. She has presented her work at numerous exhibitions and conferences internationally. Her Ph.D. thesis was on ‘Narcissism and Narrativity in Photographic Self-portraiture’ (Goldsmiths, University of London Department of Art, 2012).

                                    h3.h4 Publications

                                    ul.wrap-pre
                                        li Short, M., Leet, K. and Kalpaxi, E. (2019) Context and Narrative. 2nd Edition. London: Bloomsbury Visual Arts. 
                                        li Kalpaxi, E. (2019) Photography and Museums of Mutuality. Stedelijk Studies. Issue 8, June 2019. Available from: https://stedelijkstudies.com/journal/photography-and-museums-of-mutuality-a-metaphor/ [Accessed June 2019]. 
                                        li Kalpaxi, E. (2018) Sculptor and Cetus. Sculptorvox: Geometry of Nothing. Vol. 1, Jan 2018, pp 84-87.  
                                        li Kalpaxi, E. (2016) Self-portraiture: On Photography’s Reflexive Surface. JAR: Journal of Artistic Research [online]. Issue 10, 2016. Stable URL: https://www.researchcatalogue.net/view/208783/252789 
                                        li Kalpaxi, E. (2014) ‘From the Borders to Centre Stage: Photographic Self-portraiture’, Philosophy of Photography, Volume 5, Number 1, 2014, pp 65-76.
                                        li Kalpaxi, E. (2012) ‘The body and its Historical Malleability in Photographic Self-portraiture’, Rosamunde: Covering and Exposing, Issue 1, 2012, pp 30-33.
                                        li Kalpaxi, E. (2003) ‘10 Παράδοξα Επεισόδια’, Φωτογράφος, Issue #117, pp 12-15.


                                    h3.h4.mb-2 Selected Conference Presentations 

                                    ul.wrap-pre
                                        li ‘Dialogues: A Hybrid Art Project’, at ‘Connective Symposium’, Fontys School of Fine and Performing Arts, Tilburg, Holland, 17-19/11/2022 
                                        li ‘Between Representation and Self-presentation: Changing Views on Self-portraiture’, at ‘Transitions: Moving Images and Bodies’, NECS 2020 conference, Palermo, Italy, 16-18/06/2021 (original date: 18-20/06/2020).  
                                        li ‘Photography’s Role in Western Art’s Globalising Visions’, at ‘Collecting Geographies: Global Programming and Museums of Modern Art’ conference, Stedelijk Museum, Amsterdam, 13-15/03/2014. 
                                        li ‘Photographic Self-portraiture from the Borders to Centre-stage’, at ‘Border Aesthetics’ conference, University of Tromsø, Norway, 05-07/09/2012. 
                                        li ‘The Self-portrait as a Mnemic Residue of Primary Narcissism’, at ‘Representing Memory’ conference, organised by the Department of American Culture & Literature, University of Istanbul, 02-03/05/2012. 
                                        li ‘The body and its Historical Malleability in Photographic Self-portraiture’, at ‘Covering and Exposing, Manipulation and Fragmentation of the Body’ conference, University for the Creative Arts, Epsom, 23/06/2011. 
                                        li ‘Self-portraiture and Narcissism’, at ‘Psychoanalysis, Culture and Society’ conference, organised by the Centre for Psychoanalysis, Middlesex University, 20/06/2009. 
                                        li ‘Self-portraiture and Narcissism: Truth or Myth?’, at ‘Truth and Lies’ conference, organised by the College of Arts and Humanities, Bangor University, 11-12/06/2009. 
                                        li ‘Photographic Self-portrait Narratives’, at ‘Art and Research – New Interfaces’ conference, organised by the Copenhagen Doctoral School in Cultural Studies, Goldsmiths College and Freie Universität (Berlin), at the Royal Academy of Fine Arts in Copenhagen, 5-7/06/2008. 

                                .col-lg-6.col-md-6

                                    h3.h4 Selected Exhibitions

                                    ul.wrap-pre
                                        li Founder of 'Dialogues: A Hybrid Art Project'. Curation of 'Dialogues #1, hybrid exhibition (various locations internationally and online), 20-31/07/2022. https://dialogueshybridartproject.com/
                                        li ‘Brighton Photo Fringe 2020–Take/Make' , 03/10/2020-. 
                                        li ‘Art Exhibition’, Nikos Kessanlis, ASKT, Athens Greece, 8-12/10/2018. 
                                        li Brighton Photo Fringe – OPEN14, Victoria Gardens Exhibition and inclusion of work in the projection-showcase of the 18 shortlisted artists for the main solo exhibition at The Regency Town House, The Regency Town House, Brighton, 04/10-02/11/2014.
                                        li Archisle #2, ‘Interior/Exterior’, The Berni Gallery, Jersey Arts Centre, St Helier, Jersey, 18/09-18/10/2014.
                                        li ‘Current Landscapes’ (solo show and catalogue), Agathi-Kartalos Gallery, Athens, Greece, 09-23/11/2013.
                                        li Archisle #1, ‘Interior/Exterior’, The Berni Gallery, Jersey Arts Centre, St Helier, Jersey, 18/11-07/12/2013.
                                        li Curatorial support and research for the ‘Timeline-Archive’ project at Chisenhale Art Place, 30th Year Anniversary, Chisenhale Studios, London, 27-29/09/2013.
                                        li Art-residency for the development of a series of installations (‘Smoking Room Poeticomp’ 27/04/2013, ‘Poetic Lab(-yrinth)’ 23/06/2013, ‘Journey to a Poem Through’ 24/08/2013.) in association to ‘Poeticat’ Arts Council England funded residency at The Windmill, Brixton, London.
                                        li ‘Hidden/Exposed’, curated by N. Vardi and C. J. Harris, Mile End Art Pavilion, Plan. Open. – Arbeit Gallery, London, 03-09/09/2012.
                                        li ‘Jam 1: Gender & Language’, curated by L. Aloysius, The Sugarhouse, London, 25/04 - 05/05/2012. 2011 li ‘Covering & Exposing’, YoYo Gallery, Epsom, 23-24/06/2011.
                                        li ‘Traveling Light’ (and Catalogue), curated by C. Williams, D. Wilson and S. Wilson, WW Gallery, London, 15-28/05/09 and 53rd Venice Biennale, 06-10/06/2009.
                                        li ‘Feminista Mistah’, curated by L. Aloysius, AVA Gallery, University of East London, London, 19-30/11/2008.
                                        li ‘Young Greek Photographers’ (and Catalogue), curated by S. Moresopoulos, Cultural Center ‘Melina’, Athens, Greece, 04-25/11/2008.
                                        li ‘Invisibility’, Oxo Tower, London, 07-11/07/2005. 2004 
                                        li ‘10 Paradoxical Episodes’ (solo show), Ios Gallery, Athens, Greece, 20/09-10/10/2004. 

                                    h3.h4 Other Research
                                    
                                    ul.wrap-pre
                                        li Research and Paper-presentation: ‘Online Photography Toolkits: Digital Approaches to Practical Delivery’ research project, funded by the Institute of Learning and Teaching (ILT). Leet, S., Sherwood, T., Murphy, A., Kalpaxi, E., Franchi, E., Wardle, C., Lowe, C., Smith, J. A. (2016-2017). Paper presentation at ‘UoN Learning & Teaching Conference 2017’, The University of Northampton: Leet, S., Sherwood, T., Murphy, A., Kalpaxi, E., Franchi, E., Wardle, C., Lowe, C., Smith, J. A. ‘Online Photography Toolkits: Digital Approaches to Pra'ctical Delivery’, 16/05/2017. 
                                        li Research and Paper-presentation: ‘From Material to Virtual: An exploration of visual technologies to develop an online/interactive-learning platform for Photography’ research project, funded by the Institute of Learning and Teaching (ILT). Paper presentation at ‘Northampton Learning & Teaching Conference 2015’, The University of Northampton: Leet, S., Kalpaxi, E., Sherwood, T., Murphy, A., Dalum-Tilds, G, Lowe, C., ‘From Material to Virtual’, 21/05/2015.  

       
        // Footer
        footer.py-5
            p.strike.font-monospace(style='color:var(--bs-green)' title="") 
            p.text-center.small.text-muted Copyright &copy; 2023 - Elisavet Kalpaxi

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')
