doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        
        meta(name='author', content='')
        meta(name='keywords' content='Elisavet Kalpaxi, Elisavet, Elsa, Elsa Kalpaxi, Kalpaxi, photography, art, self-portait, goldsmiths, university of london, university, london, uk, photos, portfolio, black, white, b/w, fine art, portrait, ww gallery, lightpainting, instalation, contemporary art, practice, self-representation, self-image, image, icon, eikona, icona, windmill residency, art photography, Northampton, research, chisenhale, technh, exhibition, gallery, woven')
        meta(name='keywords' content='Elisavet Kalpaxi, photography, self-portraits, Goldsmiths, Art, narcissism, self-portraiture, Elsa Kalpaxi, Greece, photogram, narrativity')
        meta(http-equiv='Pragma' content='no-cache')
        meta(http-equiv='Expires' content='-1')
        title Archive - Elisavet Kalpaxi

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        //- link(rel='preload' href='assets/font/JustMyType.woff2' as='font' type="font/woff2" crossorigin="anonymous")
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Masthead
        header
            .container-fluid.py-5.px-0.mb-5
                .col.text-center.text-uppercase
                    h1.font-monospace.strike(style='color:var(--bs-yellow)' title="Archive") Archive

       
        // Main
        .container-md
            .row.g-4.gx-lg-5
                // Nav
                #nav.col-lg-2.col-md-12.col.text-uppercase.fw-bold

                   ul.list-group.flex-lg-column.flex-row.list-group-flush.border-dark.border-end.border-2
                        li.list-group-item
                            a.text-decoration-none(href='/' title='') Home
                        li.list-group-item
                            a.text-decoration-none(href='currentwork.html' title='') Current Work
                        li.list-group-item
                            a.text-decoration-none(href='archivelink.html' title='') Archive
                        li.list-group-item
                            a.text-decoration-none(href='about.html' title='') About
                        li.list-group-item.active
                            a.text-decoration-none.text-reset(href='contact.html' title='') Contact

                .col-lg-10.col-sm-12

                    // Contact
                    section#contact.container-md
                            .row.gx-5.align-items-center
                                .col-lg-6.col-md-6
                                    img.img-fluid(src='assets/img/archive.png', alt='...')

                                .col-lg-6.col-md-6
                                    p.h4.fw-bold.text-center 
                                        a(href='archive.html') www.elisavetkalpaxi.co.uk/archive.html
                                    p This is the website that I used until 2014 and presents work and links to projects that were completed up to that point. The website was designed back in 2005 when (Macromedia) Flash was still cutting edge in creating interactive material and animations. The website required the use of elaborate techniques to create slideshows, fiddly operations in chaotic timelines to be updated, and unfortunately it is no longer functional as most platforms, including tablets and mobile phones, have stoped supporting Flash. However, with the potential that Flash may return in the future, I decided to keep it as an archive that offers access to my earlier work and this website's subconscious technological past that has now become obsolete. Flash content can now be accessed with the use of Flash emulators.


       
        // Footer
        footer.py-5
            p.strike.font-monospace(style='color:var(--bs-yellow)' title="") 
            p.text-center.small.text-muted Copyright &copy; 2023 - Elisavet Kalpaxi

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')
