extends templates/page-template.pug

block html-title

    - var var_title = "Archive"
    - var var_color = "yellow"

    title 
        = var_title
        |  Elisavet Kalpaxi


block main-content

    .container-md.h-100(style='background-color: #e3e3e3;')
            table(width='800' align='center')
            tr
                td
                    object#mysite(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0' width='800' height='620' align='middle')
                        param(name='allowScriptAccess' value='sameDomain')
                        param(name='movie' value='mysite.swf')
                        param(name='quality' value='high')
                        param(name='bgcolor' value='#d4d4d4')
                        embed(src='mysite.swf' quality='high' bgcolor='#d4d4d4' width='800' height='620' name='mysite' align='middle' allowscriptaccess='sameDomain' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer')
            // url's used in the movie
            // text used in the movie
            // saved from url=(0013)about:internet
            a(href='Windmill.html')
