extends templates/frontpage-template.pug

//-   - var pets = ['cat', 'dog']
//-   each petName in pets
//-     include pet.pug
//-             each link in pages

block main-content

    .container-fluid.h-100.py-5
        .row.h-100.align-items-center.text-center.text-uppercase

            - var pages = ['Current Work','Archive','About','Contact']
            - var links = ['currentwork.html','archivelink.html','about.html','contact.html']
            - var colors = ['red','yellow','green','blue']

            each value, index in pages
                a.text-decoration-none.h1.font-monospace.strike(href=links[index] style='color: var(--bs-'+colors[index]+')' title=value) 
                    = value
    
            .text-center.small.text-muted Copyright &copy; 2023 - Elisavet Kalpaxi
