// 
// Typography
// 


// Custom Font
@font-face {
    font-family: "Just My Type";
    src: url("https://db.onlinewebfonts.com/t/d8e274403725cabcf56a1b6449c81143.eot");
    src: url("https://db.onlinewebfonts.com/t/d8e274403725cabcf56a1b6449c81143.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d8e274403725cabcf56a1b6449c81143.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d8e274403725cabcf56a1b6449c81143.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d8e274403725cabcf56a1b6449c81143.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d8e274403725cabcf56a1b6449c81143.svg#Just My Type")format("svg");
}



$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-serif: 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-monospace: "Just My Type", Menlo, SFMono-Regular, Lucida Console, Consolas,  "Roboto Mono", 'Source Code Pro', monospace;

$font-family-base: $font-family-serif;

$headings-font-family: $font-family-sans-serif;

$btn-font-family: $font-family-sans-serif;


$font-size-base:              0.9rem; // Assumes the browser default, typically `16px`

$line-height-base:            1.55;
$line-height-sm:              1.25;
$line-height-lg:              1.70;